/* styles.css */

/* Apply general styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: gray;
}

h1 {
  color: white;
}

button {
  background-color: green;
  padding: 10px 15px;
  margin: 30px;
  font-size: 24px;
  border: 50px;
}

button:hover {
  background-color: greenyellow;
}
