body {
  font-family: Arial, sans-serif;
  background-color: gray;
}

h1 {
  text-align: center;
  color: white;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.popup {
  display: none; /* Hide the pop-up by default */
  position: fixed; /* Position the pop-up */
  z-index: 1; /* Make sure it appears above other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.popup-content {
  background-color: #fefefe;
  margin: 10% auto; /* Center the form on the screen */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Set width */
}
/* Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#BackButton {
  background-color: green;
  padding: 10px 15px;
  margin: 10px;
  font-size: 16px;
  color: white;
}
#BackButton:hover {
  background-color: greenyellow;
}
